{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home_home_page.css' %}">
{% endblock extra_css %}

{% block content %}
    {% include "_header.html" with subtitle="a subtitle" %}
    <div class="content_wrapper">
        {% if page.err_text %}
        <div class="error message_text_box">{{ page.err_text|richtext }}</div>
        {% endif %}

        {% if page.warn_text %}
        <div class="warning message_text_box">{{ page.warn_text|richtext }}</div>
        {% endif %}

        {% if page.info_text %}
        <div class="info message_text_box">{{ page.info_text|richtext }}</div>
        {% endif %}
    </div>
    {% include "_footer.html" %}
{% endblock content %}
